<section class="signup d-flex align-items-center vh-100">
  <div class="container boxShadow">
    <div class="signup-content row">
      <div class="signup-form col-md-6">
        <h2 class="form-title fs-2">Sign up</h2>
        <form [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm)" class="register-form mt-4" id="register-form">
          <div class="form-group d-flex align-items-center mb-4">
            <label for="name">
              <span class="fa-solid fa-user"></span>
            </label>
            <input formControlName="name" type="text" name="name" id="name" placeholder="Your Name" />
          </div>
          <p *ngIf="signUpForm.get('name')?.errors && signUpForm.get('name')?.touched" class="alert alert-danger">
            <span *ngIf="signUpForm.get('name')?.getError('required')">required</span>
            <span *ngIf="signUpForm.get('name')?.getError('minlength')">min length 3 characters</span>
          </p>
          <div class="form-group d-flex align-items-center mb-4">
            <label for="email">
              <span class="fa-solid fa-envelope"></span>
            </label>
            <input formControlName="email" type="email" name="email" id="email" placeholder="Your Email" />
          </div>
          <p *ngIf="signUpForm.get('email')?.errors && signUpForm.get('email')?.touched" class="alert alert-danger">
            <span *ngIf="signUpForm.get('email')?.getError('required')">required</span>
            <span *ngIf="signUpForm.get('email')?.getError('email')">Your email must be valid</span>
          </p>
          <div class="form-group d-flex align-items-center mb-4">
            <label for="pass">
              <span class="fa-solid fa-lock"></span>
            </label>
            <input formControlName="password" type="password" name="password" id="password" placeholder="Password" />
          </div>
          <p *ngIf="signUpForm.get('password')?.errors && signUpForm.get('password')?.touched"
            class="alert alert-danger">
            <span *ngIf="signUpForm.get('password')?.getError('required')">required</span>
            <span *ngIf="signUpForm.get('password')?.getError('pattern')">
              * must start with capital character<br />
              * minlength 3 characters<br />
              * maxlength 12 characters<br />
              * not include special characters
            </span>
          </p>
          <div class="form-group d-flex align-items-center mb-4">
            <label for="phone">
              <span class="fa-solid fa-phone"></span>
            </label>
            <input formControlName="phone" type="tel" name="phone" id="phone" placeholder="Phone" />
          </div>
          <p *ngIf="signUpForm.get('phone')?.errors && signUpForm.get('phone')?.touched" class="alert alert-danger">
            <span *ngIf="signUpForm.get('phone')?.getError('required')">required</span>
            <span *ngIf="signUpForm.get('phone')?.getError('pattern')">You should use egyptian number</span>
          </p>
          <div class="form-group d-flex align-items-center mb-4">
            <label for="age">
              <span class="fa-solid fa-globe"></span>
            </label>
            <input formControlName="age" type="number" name="age" id="age" placeholder="Age" />
          </div>
          <p *ngIf="signUpForm.get('age')?.errors && signUpForm.get('age')?.touched" class="alert alert-danger">
            <span *ngIf="signUpForm.get('age')?.getError('required')">required</span>
          </p>
          <div *ngIf="apiError" class="alert alert-danger">
            {{apiError}}
          </div>
          <div class="d-flex justify-content-center align-items-center flex-column">
            <button class="btn btn-danger" [disabled]="signUpForm.invalid">
              <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
              <span *ngIf="!isLoading">Register</span>
            </button>
            <p class="my-3">Already Have an account?
              <a class="text-info" [routerLink]="['/signin']">Signin</a>
            </p>
          </div>
        </form>
      </div>
      <div class="signup-image col-md-6 d-flex justify-content-center">
        <figure><img src="assets/images/signup-image.jpg" alt="sing up image" /></figure>
      </div>
    </div>
  </div>
</section>